extends main

block content
    div(class='container')
        h1(class='text-2xl sm:text-[2rem] sm:leading-9 font-medium mt-6') Культуры
        ul(id='cultures-nav' class='cultures-nav flex flex-wrap -mx-2.5')
            li(class='active px-2.5 mt-4')
                a(href='#' class='flex items-center py-2 px-3 border-2 border-#C5 rounded-md hover:brightness-90')
                    div(class='cultures-nav__icon bg-[#AFAFAF] rounded-full flex items-center justify-center w-10 h-10')
                        img(src=require('./images/elements/len.svg'))
                    div(class='font-medium ml-2') Лен
            li(class='px-2.5 mt-4')
                a(href='#' class='flex items-center py-2 px-3 border-2 border-#C5 rounded-md hover:brightness-90')
                    div(class='cultures-nav__icon bg-[#AFAFAF] rounded-full flex items-center justify-center w-10 h-10')
                        img(src=require('./images/elements/sunflower.svg'))
                    div(class='font-medium ml-2') Подсолнечник
            li(class='px-2.5 mt-4')
                a(href='#' class='flex items-center py-2 px-3 border-2 border-#C5 rounded-md hover:brightness-90')
                    div(class='cultures-nav__icon bg-[#AFAFAF] rounded-full flex items-center justify-center w-10 h-10')
                        img(src=require('./images/elements/raps.svg'))
                    div(class='font-medium ml-2') Рапс
            li(class='px-2.5 mt-4')
                a(href='#' class='flex items-center py-2 px-3 border-2 border-#C5 rounded-md hover:brightness-90')
                    div(class='cultures-nav__icon bg-[#AFAFAF] rounded-full flex items-center justify-center w-10 h-10')
                        img(src=require('./images/elements/kukuruza.svg'))
                    div(class='font-medium ml-2') Кукуруза
            li(class='px-2.5 mt-4')
                a(href='#' class='flex items-center py-2 px-3 border-2 border-#C5 rounded-md hover:brightness-90')
                    div(class='cultures-nav__icon bg-[#AFAFAF] rounded-full flex items-center justify-center w-10 h-10')
                        img(src=require('./images/elements/soya.svg'))
                    div(class='font-medium ml-2') Соя
            li(class='px-2.5 mt-4')
                a(href='#' class='flex items-center py-2 px-3 border-2 border-#C5 rounded-md hover:brightness-90')
                    div(class='cultures-nav__icon bg-[#AFAFAF] rounded-full flex items-center justify-center w-10 h-10')
                        img(src=require('./images/elements/zern.svg'))
                    div(class='font-medium ml-2') Зерновые
            li(class='px-2.5 mt-4')
                a(href='#' class='flex items-center py-2 px-3 border-2 border-#C5 rounded-md hover:brightness-90')
                    div(class='cultures-nav__icon bg-[#AFAFAF] rounded-full flex items-center justify-center w-10 h-10')
                        img(src=require('./images/elements/potato.svg'))
                    div(class='font-medium ml-2') Картофель
        h3(class='font-medium text-xl sm:text-2xl mb-4 mt-10') Схема защиты свеклы
        div(class='mt-6')
            img(src=require('./images/examples/scheme.jpg'))
        h3(class='font-medium text-xl sm:text-2xl mb-6 mt-16') Подходящие препараты
        div(class='flex flex-wrap -mx-1.5 xxl:-mx-4')
            div(class='w-1/2 md:w-1/3 xl:w-1/4 xxl:w-1/5 px-1.5 xxl:px-4 mb-3 xxl:mb-4')
                a(href='#' class='flex flex-col h-full border border-#C5 rounded-lg px-4 py-4 hover:border-transparent hover:shadow-[0_0_0_2px_#16795F]')
                    div(class='font-medium') Анаконда®, КЭ
                    div(class='text-xs mt-auto') 960 г/л С-метолахлора
            div(class='w-1/2 md:w-1/3 xl:w-1/4 xxl:w-1/5 px-1.5 xxl:px-4 mb-3 xxl:mb-4')
                a(href='#' class='flex flex-col h-full border border-#C5 rounded-lg px-4 py-4 hover:border-transparent hover:shadow-[0_0_0_2px_#16795F]')
                    div(class='font-medium') Анаконда®, КЭ
                    div(class='text-xs mt-auto') 960 г/л С-метолахлора
            div(class='w-1/2 md:w-1/3 xl:w-1/4 xxl:w-1/5 px-1.5 xxl:px-4 mb-3 xxl:mb-4')
                a(href='#' class='flex flex-col h-full border border-#C5 rounded-lg px-4 py-4 hover:border-transparent hover:shadow-[0_0_0_2px_#16795F]')
                    div(class='font-medium') Анаконда®, КЭ
                    div(class='text-xs mt-auto') 960 г/л С-метолахлора
            div(class='w-1/2 md:w-1/3 xl:w-1/4 xxl:w-1/5 px-1.5 xxl:px-4 mb-3 xxl:mb-4')
                a(href='#' class='flex flex-col h-full border border-#C5 rounded-lg px-4 py-4 hover:border-transparent hover:shadow-[0_0_0_2px_#16795F]')
                    div(class='font-medium') Анаконда®, КЭ
                    div(class='text-xs mt-auto') 960 г/л С-метолахлора
            div(class='w-1/2 md:w-1/3 xl:w-1/4 xxl:w-1/5 px-1.5 xxl:px-4 mb-3 xxl:mb-4')
                a(href='#' class='flex flex-col h-full border border-#C5 rounded-lg px-4 py-4 hover:border-transparent hover:shadow-[0_0_0_2px_#16795F]')
                    div(class='font-medium') Анаконда®, КЭ
                    div(class='text-xs mt-auto') 960 г/л С-метолахлора
        div(class='mt-16 md:mt-24')
            div(class="bg-white max-w-[50.5rem] mx-auto px-14 py-8" style="box-shadow: 0px 34px 27px -20px rgba(22, 121, 95, 0.42);")
                h3(class='font-medium text-xl sm:text-2xl') Мы готовы ответить на ваши вопросы
                    include pug/_quest-form